body {
  color: #666;
  font-size: 400;
  font-family: "Raleway", sans-serif;
}

a,
a:visited,
a:hover {
  color: $color-primary;
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.link {
  color: $color-primary;
}